#nomeCompleto {
  text-align: center;
  background-color: lightblue;
  
}

#profissao {
  text-align: center;
  background-color: lightblue;
  
}

#fotomatheus {

}

.linksredessociais {
 
}

.menu {
}

body {
  font-family: montserrat, serif;
  background-color: lightgrey;
}
